<!DOCTYPE html>
<html>
<head>
    <title>Image Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
    document.onkeydown = function(e) {
        if (e.ctrlKey && e.keyCode === 83) {
            e.preventDefault();
            var downloadLink = document.getElementById('download-link');
            if (downloadLink) {
                downloadLink.click();
            }
        }
        switch (e.keyCode) {
            case 37:
                // left arrow key
                {% if prev_image %}
                window.location.href = '/?image={{prev_image}}';
                {% endif %}
                break;
            case 39:
                // right arrow key
                {% if next_image %}
                window.location.href = '/?image={{next_image}}';
                {% endif %}
                break;
        }
    };
    </script>
</head>
<body>
<div class="container">
    <div class="column image-list-column">
        <h2>Images</h2>
        <ul>
            {% for image in images %}
            <li><a href="/?image={{image}}">{{image}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="column selected-image-column">
        {% if selected_image %}
        <h2>{{selected_image}}</h2>
        <img src="/image?image={{selected_image}}" alt="Selected Image">
        <div>
            <a id="download-link" href="/download?image={{selected_image}}">Save</a>
            {% if prev_image %}
            <a href="/?image={{prev_image}}">Prev</a>
            {% endif %}
            {% if next_image %}
            <a href="/?image={{next_image}}">Next</a>
            {% endif %}
        </div>
        {% else %}
        <p>No image selected.</p>
        {% endif %}
    </div>
    <div class="column metadata-column">
        <h2>Image Metadata</h2>
        {% if image_metadata %}
        <p>Size: {{image_metadata.st_size}} bytes</p>
        <p>Created: {{image_metadata.st_ctime}}</p>
        <p>Modified: {{image_metadata.st_mtime}}</p>
        {% endif %}
        {% if png_chunks %}
        <h2>PNG Chunks</h2>
        {% for key, value in png_chunks.items() %}
        <h3>{{key}}</h3>
        <p>{{value}}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>
