<!DOCTYPE html>
<html>
<head>
    <title>Symbiont UI - Models</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="models">
    {% for model_type, model_list in models %}
        <p class="model">
            <h2>{{model_type}}</h2>
            <ul>
                {% for model in model_list %}
                <li>{{model.name}}</li>
                {% endfor %}
            </ul>
        </p>
    {% endfor %}
    </div>
</body>
</html>