<!DOCTYPE html>
<html>
<head>
    <title>Symbiont UI - Models</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="models">
    {% for model_type, model_list in models.items() %}
        <p class="model">
            <h2>{{model_type}}</h2>

            {% if model_list %}
                <!-- Table of models based on dataclass -->
                <table>
                    <tr>
                       <th>name</th>
                       <th>file type</th>
                    </tr>
                    {% for model in model_list %}
                    <tr>
                        <td>{{model.name}}</td>
                        <td>{{model.file_type}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No {{model_type}} models found.</p>
            {% endif %}
        </p>
    {% endfor %}
    </div>
</body>
</html>